/frameworks/runtime-src/proj.win32/Source.VC.db
/frameworks/runtime-src/proj.win32/Source.VC.VC.opendb
/frameworks/runtime-src/proj.win32/Debug.win32
/frameworks/cocos2d-x/cocos/2d/Debug.win32
/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.win32/Debug.win32
